*{

  margin:0;
  padding:0;
  box-sizing:border-box;

}

body{

  font-family:Arial, sans-serif;

  background:#0f172a;

  display:flex;

  justify-content:center;
  align-items:center;

  min-height:100vh;

  padding:20px;

}

.access-container{

  width:100%;
  max-width:420px;

  background:white;

  padding:40px;

  border-radius:15px;

  box-shadow:0 0 25px rgba(0,0,0,0.3);

}

.access-container h2{

  text-align:center;

  margin-bottom:10px;

  color:#0f172a;

}

.access-container p{

  text-align:center;

  color:gray;

  margin-bottom:25px;

  font-size:14px;

}

.access-container input{

  width:100%;

  padding:14px;

  margin-bottom:15px;

  border:1px solid #ccc;

  border-radius:8px;

  font-size:15px;

  outline:none;

}

.access-container input:focus{

  border-color:#ffbd39;

}

.access-container button{

  width:100%;

  padding:14px;

  border:none;

  border-radius:8px;

  background:#ffbd39;

  color:black;

  font-size:16px;

  font-weight:bold;

  cursor:pointer;

  transition:0.3s;

}

.access-container button:hover{

  opacity:0.9;

}

.login-link{

  display:block;

  text-align:center;

  margin-top:20px;

  text-decoration:none;

  color:#0f172a;

  font-weight:bold;

  font-size:14px;

}
